<launch>

	<arg name="custom_amcl_launch_file" default="$(find navigation_stack)/launch/amcl.launch"/>


	<include file="$(find myrobot_description)/launch/house.launch"/>

	<include file="$(arg custom_amcl_launch_file)">
		<arg name="base_link_name" value="base_link"/>
		<arg name="map_file" value="$(find myrobot_description)/../maps/aws_house/map.yaml"/>
	</include>

	<node name="rviz_localization" pkg="rviz" type="rviz" respawn="false"
			args="-d $(find navigation_stack)/rviz/amcl.rviz"/>
</launch>